/* hangman project style*/
html,body{height:100%;margin:0;padding:0;font-size:13px;}

/* Layout */
#wrap {width:100%;min-height:100%;padding:0;margin:-100px 0;}
* html #wrap {height: 100%;}
#content {width:100%;margin:0;padding:100px 0;}
#content_l {width:70%;min-height:100%;float:left;display:inline;border-right:1px solid #ddd;}
* html #content_l {height: 100%;}
#content_r {width:29%;min-height:100%;float:right;display:inline;}
#login {}


/* Header & Footer */
#header {width:100%;margin:0;padding:15px 0;position:relative;z-index:1;text-align:center;background:#2F2F2F;color:#fff;}
#footer {width:100%;margin:0;padding:50px 0;text-align:center;background:#E0E0E0;color:#000;}

/* solo_game_panel */
.solo_game_panel ul{border-bottom:1px solid #ddd;}
.solo_game_panel ul li {list-style:none;}
.solo_game_panel .user_info {padding:20px 0;}
.solo_game_panel .user_input ul{margin:0;padding:50px 0;width:100%;text-align:center;}
.solo_game_panel .user_input ul li{display:inline;float;left;}
.solo_game_panel .user_input input[type='text'] {padding:7px 10px;}
.solo_game_panel .user_input input[type='submit'] {padding:7px 20px;}
.solo_game_panel .panel_box {padding:50px 20px;text-align:center;}
.wrong_answer ul{margin:0;padding:0;width:100%;}
.wrong_answer ul li {display:inline;float;left;}